<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<connectionStrings>
		<add name="OTS_Ticketing_SoftwareDB" connectionString="Server=.\FOTSQLSERVER;Database=OTS_Ticketing_Software;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OTS.Ticketing.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.7.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OTS.Ticketing.Win.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Number" serializeAs="String">
        <value />
      </setting>
    </OTS.Ticketing.Win.Properties.Settings>
  </userSettings>
</configuration>
